<div>
  <h1><a href="https://github.com/simply-develop/da-bin">Da-Bin.</a></h1>
  <h3>A Fun little project made under 2 days</h3>
  <h2>Made by <a href="https://discord.gg/3JzDV9T5Fn">Rahuletto#0243</a></h2>
  <p>This is an template to make a source bin like site. By yourself.</p>
</div>